body {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 50px;
  text-align: center;
}

canvas {
  border: 2px solid black;
}

#addRectBtn {
  margin-top:15px;
}

#image-div {
  display: none;
}

#add-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

#deleteBtn {
  background-color: #555555;
  font-family: monospace;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#addRectBtn {
  background-color: #4CAF50;
  font-family: monospace;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#addCircleBtn {
  background-color: #008CBA;
  font-family: monospace;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

#addPolygonBtn {
  background-color: #f44336;
  font-family: monospace;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.btn {
  margin: 10px;
}

.btn:disabled,
.btn[disabled] {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: default !important;
}

.btn:hover {
  cursor: pointer;
}
